<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265911481490-rjo5lan44rdmlgva1aok9dqi8t5m0s5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265911481490-rjo5lan44rdmlgva1aok9dqi8t5m0s5e</string>
	<key>API_KEY</key>
	<string>AIzaSyDC1I3Y7endVVB0irgCnoSnBrRUuosCGBg</string>
	<key>GCM_SENDER_ID</key>
	<string>265911481490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chato.chatoApp</string>
	<key>PROJECT_ID</key>
	<string>chato-app-52fcf</string>
	<key>STORAGE_BUCKET</key>
	<string>chato-app-52fcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265911481490:ios:0dae0a909354510801224b</string>
</dict>
</plist>